{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-config-rational-order",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "block-no-empty": null,
    "no-empty-source": null,
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null
  }
}